:root {
    --blue-color: #69b3a2;
    --section-title-color: rgb(55, 55, 53);
}

body {
    color: black;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    z-index: 0;
}

.navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;

}


.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#navigation-bar.navbar {
    background-color: transparent;
}

#navigation-bar.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: snow;
    font-size: 1.1rem;

}


.navbar.scrolled {
    background-color: blue
}

.navbar-toggler {
    color: goldenrod;
}

.navbar a {
    color: goldenrod;
    font-size: 1.3rem;
    font-weight: lighter;
}

.navbar a.active {
    font-weight: 900;
    animation: pulsate 2s ease-in;
}

.navbar a:hover {
    /* color: grey; */
    border-bottom: solid 3px goldenrod;
    color:goldenrod;
}
.navbar a:focus{
    color:goldenrod;
}
.site-header {
    height: 100vh;
    padding: 0px;
    min-height: 30rem;
    position: relative;
    width: 100%;
    background-size: cover;
}

.rectangle {
    width: inherit;
    height: 100%;
    z-index: 1000;
    background: linear-gradient(to top, #fff, rgba(217, 197, 147, 0.3));
    font-weight: bold;
}

.rectangle span {
    position: relative;
    bottom: 0;
    left: 0;

}

.rectangle div {

    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 2rem;

}

.rectangle div p {
    font-weight: 200;

    display: inline-block;
    align-self: flex-end;
    inline-size: 100%;
    font-size: 27px;
    animation: fade-in-bottom 0.5s ease-in-out both;


}

.rectangle div span {
    font-size: 47px;
    font-weight: 900;
    animation: fade-in-bottom 0.5s ease-in-out both;
    font-stretch: ultra-condensed;


}

.site-header-details {
    z-index: 1003;
}

#contactme-section {
    background-color: rgba(219, 207, 178, 0.38);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    z-index: -1;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

#contactme-section .contact-avenues a {
    font-size: 55px;
    font-weight: 600;
    text-decoration: none;
    display: inline;
    color: goldenrod;
    opacity: 1;
    padding: 10px 0;
    margin-right: 1.5rem;
}

#contactme-section .contact-avenues {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 600;
}

#contactme-section .contact-avenues a:hover {
    animation: pulsate 1s ease-in-out;
}

.skill-section-platforms-frameworks .skills-col:hover {
    animation: pulsate 0.7s ease-in-out;

}

@keyframes pulsate {
    0% {
        text-shadow:
            0 0 50px black,
            0 0 100px white;
    }
}

footer .content {
    padding: 28px 0;
    text-align: center;
    font-weight: 200;
    color: black;
}

footer .social-buttons {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center !important;
    margin-top: 0;
    margin-bottom: 0;
}

footer .social-buttons li {
    margin-right: 2rem !important;
}

footer .social-buttons li a {
    padding: 0;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 12px 0;
}

footer .social-buttons li i {
    height: 100%
}


.profile-image {
    border-radius: 50%;
    margin: auto;
    display: block;
    height: 20rem;
    border: solid 4px rgba(218, 165, 32, 0.2);
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    transition: transform 0.75s
}

.profile-image:hover {
    transform: scale(1.15)
}

section {
    padding: 4rem 0;
    background-color: white
}

.darker-section {
    background-color: transparent
}

section .title {
    text-align: center;
    display: block;
    font-size: 3rem;
    color: var(--section-title-color);
}



#email-message {
    height: 100% !important;
}

.seperator {
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    color: black;
    margin: 1rem 0;
    text-align: center;

}




.email-form .submit {
    text-align: center !important;
    background-color: goldenrod;
    color: white;
    font-size: 18px;
    font-weight: 800;
    padding: 1rem;
}

input,
textarea {
    background-color: transparent;
    border: solid 5px #ffffff !important;
    color: black !important;
    font-weight: light;
    font-size: 20px !important;
    opacity: 0.7;
    border-radius: 10px !important;
}

.social-buttons a {
    color: goldenrod;
    font-size: 45px;
    border-radius: 50%;
    height: auto;
    width: auto;
    padding: auto;
    margin: 0 1rem
}

.social-buttons a:hover {
    color: goldenrod
}

.email-form .form-section {
    width: 500px;
}


.skill-section-platforms-frameworks .skills-col {
    align-items: start;
    display: flex;
}

.skill-section-platforms-frameworks .skills-icon {
    background-color: transparent;
    color: goldenrod;
    display: block;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0;
}

.skill-section-platforms-frameworks .skills-icon i {
    height: 100%;
    width: 100%;
    font-size: 3rem;
    color: goldenrod;

}

.skill-section-platforms-frameworks .skills-title {
    margin-bottom: 0;
    font-weight: bold;
    color: goldenrod;
}

.skill-section-platforms-frameworks .skills-text {
    font-size: 16px;
    font-weight: 300;
}

.skill-section-platforms-frameworks .skills-text b {
    font-weight: 500;
    color: rgb(47, 151, 215);
}

#skill-section-libraries {
    padding: 3rem 0;

}

#skill-section-libraries p {
    font-size: 25px;
    text-align: center;
    margin-bottom: 3.5rem;
    font-weight: 300;
}


#skill-section-libraries img {
    width: 100%;
    transition: transform 0.5s;
}

#skill-section-libraries img:hover {
    transform: scale(1.15);
}

.project-timeline {
    color: goldenrod;
    font-weight: bolder;
    background-color: black
}



.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    border-radius: 50%;
    background: rgba(218, 165, 32, 0.5);
    line-height: 45px;
    font-size: 20px;
}


.project {
    background-color: black !important;
    height: 310px;
    border-radius: 15px !important;
    overflow: hidden;
    color: white !important;
    z-index: 1;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025) !important;

}


.project img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    z-index: 1;
}

.project:hover img {
    transform: scale(1.15);
    opacity: 0.3;
}

.project-info {
    display: flex !important;
    flex-direction: column !important;
    padding: 48px 48px 16px 48px !important;
    color: white !important;
    height: 100%;
    z-index: 10000;
}

.project-info.project-title {
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: bold;
    line-height: 5px;
    font-size: 24px
}

.project-info.project-description {
    font-size: 12px;
    font-weight: normal;
}

.project-info ul {
    display: flex !important;
    list-style: none !important;
    margin-top: auto !important;
    padding-left: 0;
}

.project-info .project-owner {
    border: 1px solid white;
    font-style: italic;
    font-weight: lighter;
    font-size: 15px;
    display: none;
}

.project-info .project-link {
    font-size: 30px;
    color: white;
    text-decoration: none;
    animation: neonglow 1s ease-in-out infinite alternate;

}

@keyframes neonglow {
    0% {
        text-shadow: 0 0 10px goldenrod, 0 0 20px rgb(210, 175, 88), 0 0 30px rgb(205, 192, 161);
    }

    100% {
        text-shadow: 0 0 5px goldenrod, 0 0 10px rgb(210, 175, 88), 0 0 15px rgb(205, 192, 161);
    }
}

.project-footer {
    font-size: 25px;
    text-align: center;

}

.project-footer a {
    text-decoration: none;
    color: rgb(218, 165, 32);
    padding: 5px 5px;
    border: solid 1px goldenrod;
    border-radius: 15px;
}

.project-footer a:hover {
    color: rgb(47, 151, 215);
    border: solid 1px rgb(47, 151, 215);
}


#experience-timeline {
    min-height: 350px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.aboutme-description {
    margin: auto;
    margin-top: 1rem !important;
    padding: 30px 0;
}

.certification {
    padding-top: 1rem;
}

.certification-icon {
    display: block;
    align-self: center;
    justify-content: center;
    width: 6rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    font-size: 2rem;
    background-color: transparent;
}

.certification-icon img {
    width: 100%;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    color: black;
}

.certification-title {
    text-align: center;
    font-size: 21px;
}

.certification-description {
    text-align: center;
    font-size: 18;
    font-weight: 300;
}

.certification-link {
    text-align: center;
}

.certification-link a {
    text-align: center;
    border: solid 2px goldenrod;
    color: goldenrod;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
    display: inline;
}


/* TIMELINE CSS  */

.timeline {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    position: relative;
}

.timeline__event {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    margin: 15px 0;
    border-radius: 6px;
    align-self: center;
    width: 90vw;
    z-index: 100;
}

.timeline__info {
    display: flex;

    width: 100%;
    padding: 0;
    margin: 0;
    z-index: inherit;
}

.timeline__event:nth-child(2n+1) {
    flex-direction: row-reverse;
}

.timeline__event:nth-child(2n+1) .timeline__event__date {
    border-radius: 0 6px 6px 0;
}

.timeline__event:nth-child(2n+1) .timeline__event__content {
    border-radius: 6px 0 0 6px;
}

.timeline__event:nth-child(2n+1) .timeline__event__icon:before {
    content: "";
    width: 2px;
    height: 100%;
    background: #ddbe6f;
    position: absolute;
    top: 0%;
    left: 50%;
    right: auto;
    z-index: 50;
    transform: translateX(-50%);
    -webkit-animation: fillTop .5s forwards .5s ease-in-out;
    animation: fillTop .5s forwards .5s ease-in-out;
}

.timeline__event:nth-child(2n+1) .timeline__event__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #ddbe6f;
    position: absolute;
    right: 0;
    z-index: 50;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    -webkit-animation: fillLeft .5s forwards .5s ease-in-out;
    animation: fillLeft .5s forwards .5s ease-in-out;
}

.timeline__event__title {
    font-size: 1.2rem;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 600;
    color: goldenrod;
    letter-spacing: 1.5px;
}

.timeline__event__content {
    padding: 20px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    background: #fff;
    width: 100%;
    border-radius: 0 6px 6px 0;
}

.timeline__event__date {
    color: #e5dac0;
    font-size: 1.5rem;
    font-weight: 600;
    background: goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0 20px;
    border-radius: 6px 0 0 6px;
    z-index: inherit;
}

.timeline__event__icon {
    display: block;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: 0 20px;
    border-radius: 50%;
    width: 80px !important;
    height: 80px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    padding: 0;
    position: relative;

}

.timeline__event__icon img {
    height: 80px;
    width: 80px;
    padding: 10px;
    border-radius: 50%;
    border: solid 2px #ddbe6f;
}

.timeline__event__icon:before {
    content: "";
    width: 2px;
    height: 100%;
    background: #ddbe6f;
    position: absolute;
    top: 0%;
    z-index: 50;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: fillTop .5s forwards .5s ease-in-out;
    animation: fillTop .5s forwards .5s ease-in-out;
}

.timeline__event__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #ddbe6f;
    position: absolute;
    left: 0%;
    z-index: 50;
    top: 50%;
    transform: translateY(-50%);
    -webkit-animation: fillLeftOdd .5s forwards .5s ease-in-out;
    animation: fillLeftOdd .5s forwards .5s ease-in-out;
}

.timeline__event__description {
    flex-basis: 60%;
    font-weight: 300;
}

.timeline__event:last-child .timeline__event__icon:before {
    content: none;
}

@-webkit-keyframes fillLeft {
    100% {
        right: 100%;
    }
}

@keyframes fillLeft {
    100% {
        right: 100%;
    }
}

@-webkit-keyframes fillTop {
    100% {
        top: 100%;
    }
}

@keyframes fillTop {
    100% {
        top: 100%;
    }
}

@-webkit-keyframes fillLeftOdd {
    100% {
        left: 100%;
    }
}

@keyframes fillLeftOdd {
    100% {
        left: 100%;
    }
}